body{
    background-image: url("https://i.pinimg.com/736x/63/1c/e8/631ce8bb83dc4ca02aae9a24a6dd8134.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:scroll;
    background-size: cover;
}